body {
    background-color: #FC9;   /* powderblue */
    font-size: 1.2vw;
}

h1 { 
    text-align: center;
    letter-spacing: .6vw;                    /* stretches out the h1 */
    margin: 0;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    font-size: 9vw;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: .7vw .7vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2vw;
    margin: 1.4vw 1vw 0 2vw;
    cursor: pointer;
    width: 4.5vw;
    height: 1.2vw;
}
.button:hover {
    opacity: .5;
}
img {
    width: 96%;
    margin: 1vw 1vw; 
    float: left;
    border: groove 1px navy;
}

/*  ---------------------------  Blinking text  --------------------------------------*/
/*  -----------      <span class="blinking">Won't Last!!!</span>     ---------------------------*/
.blinking{
    animation:blinkingText 5s infinite;
    padding: .8vw 1.2vw;
    border-radius: 3vw;
    z-index: 1;
    font-size: 2.6vw;
    position: absolute;
    top: 25%;
    left: 75%;
}
@keyframes blinkingText{
    0%{     color: red; background-color: yellow;   }
    35%{    color: red; background-color: yellow;   }
    40%{    color: red; opacity:.7; }
    43%{    color: red; opacity:.3; }
    45%{    color: red; opacity:.1; }
    50%{    color: transparent; }
    55%{    color: red; opacity:.1; }
    57%{    color: red; opacity:.3; }
    60%{    color: red; opacity:.7; }
    65%{    color: red; background-color: yellow;  }
    100%{   color: red; background-color: yellow;  }
}

/*  ---------------------------  Highlighted text  --------------------------------------*/
/*  -----------      <span class="highlighted">with Balcony 20 char</span>     ---------------------------*/
.highlighted{
    color: yellow; 
    background-color: #99f; 
	padding: .3vw .8vw;
    border-radius: 3vw;
    z-index: 1;
    font-size: 2vw;
    position: absolute;
    top: 25%;
    left: 75%;
}