@import url("updateUser.css");

select{
	display: block;         
	padding: 0 1vw;
	height: 2vw;
	width: 25vw;   
	margin-bottom: 1vw;
	border: .2vw solid #eeeeee;
    font-size: 1.1vw;
} 

textarea {                
	display: block;         
	padding: 0 1vw;
	height: 10vw;
	width: 20vw;   
	margin-bottom: 1vw;
	border: .2vw solid #eeeeee;
    font-size: 1.1vw;
} 

div p {
	margin-top : -1vw;  
	font-size: 1.1vw;
}
